<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>evsonic.</title>

		<!-- jquery -->
		<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

		<!-- angularjs -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

		<!-- twitter bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

		<link rel="stylesheet" href="/css/base.css">
	</head>
	<body>
		<div id="wrap" class="container">
			<div class="navbar navbar-default navbar-static-top" role="navigation">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">evsonic.</a>
					</div>
					{% if user %}
					<ul class="nav navbar-nav">
						<li {% if tab == "music" %}class="active"{% endif %}>
							<a href="/music">music</a>
						</li>
						<li {% if tab == "video" %}class="active"{% endif %}>
							<a href="/video">video</a>
						</li>
						<li {% if tab == "settings" %}class="active"{% endif %}>
							<a href="/settings">settings</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/logout">logout</a>
						</li>
					</ul>
					{% endif %}
				</div>
			</div>

			<div class='col-md-12 col-xs-12'>
				{% block main %}
				{% endblock %}
			</div>
		</div>
		<div id="footer">
			<p class="footer-text">&copy; 2014 Evan J Ogas. All rights reserved.</p>
		</div>
	</body>
</html>
