{% extends 'base.html' %}

{% block main %}

<script src="js/settings.js"></script>

<div class="panel panel-primary">
	<div class="panel-heading">Media Directories</div>
	<div class="panel-body mediadir-panel">
		<form class="form-inline" role="form">
			<div class="col-md-3">
				<input id="mediaDirName" type="text" class="form-control" placeholder="Name" />
			</div>
			<div class="col-md-7">
				<input id="mediaDirPath" type="text" class="form-control" placeholder="Path" />
			</div>
			<div class="col-md-2">
				<button type="button" onclick="addMediaDir();" class="btn btn-default">Add</button>
			</div>
		</form>

		<div class="col-md-12">
			<div id="media-dirs" class="list-group">
				{% for dir in mediaDirs %}
					{% include "./mediadir.html" %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% endblock %}
